:root {
  --blue-primary: #0e37f1;
  --pink-primary: #fe19aa;
  --purple-primary: #5B2EDB;
  --light-gray: #a5a3b7;
  --medium-gray: #6a687a;
  --dark-gray: #38364a;
  --black-primary: #05021e;
  --white-primary: #ebeaf3;

  --fade-gray: linear-gradient(180deg, var(--white-primary) 0%, rgba(166, 163, 189, 0) 300%);

  --bg-size: 400%;
}