.logo {
  fill: var(--light-gray, #a5a3b7);
  
  &:hover {
    fill: var(--white-primary, #ebeaf3);
    transform: scale(1.1);
    transition: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
