* {
  margin: 0;
  padding: 0;
  color: var(--white-primary);
  font-family: "Inter Variable", sans-serif;
}

html {
  overflow-x: hidden;
}

.body {
  background-color: var(--black-primary);
  overflow-x: hidden;
}

.svg-filter {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.section {
  height: 100vh;
}

// .main::before {
//   position: absolute;
//   right: 0;
//   top: 0;
//   content: "";
//   width: 100%;
//   height: 100%;
//   opacity: 15%;
//   filter: url(#noiseFilter);
//   pointer-events: none;
// }

.bg-figure--1 {
  position: absolute;
  width: 45.9vw;
  // width: 70rem;
  top: 21.5vh;
  // right: 7.5vw;
  right: 10.5vw;
  // filter: blur(5.2vw); //100px
  filter: blur(100px); //100px

  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.section--1 {
  width: calc(50vw + 10.6562rem);
  display: flex;
  justify-content: flex-end;
}

.gradient-container {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  right: -70%;
  bottom: 0;
  filter: blur(100px) !important;
  -webkit-filter: blur(100px);

}

.gradient {
  width: 100%;
  height: 100%;
  border-radius: 55.1875rem;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(
    from 180deg at 50% 50%,
    #fe19aa00 0%,
    #fe19aa63 26%,
    #6b2cd6 100%
  );
  filter: blur(100px) !important;
  -webkit-filter: blur(100px);
}

.info {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;

  &__h1 {
    display: inline-block;
    background: linear-gradient(270deg, #fe19aa 0%, #0e37f1 250%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    font-size: calc(min(4.6875rem, 6.5vw));
    font-weight: 800;
  }

  &__h2 {
    display: inline-block;
    background: var(--fade-gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: calc(max(2vw, 2rem));
    background-clip: text;
    font-size: 40px;
  }
  &__p {
    color: var(--light-gray);
    max-width: 481px;
    margin-top: 3.7vh;
    font-size: 1.125rem;
    font-weight: 400;
  }

  &__strong {
    background: linear-gradient(90deg, #0e37f1 -300%, #fe19aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__a {
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    margin-top: 6.7vh;
  }

  &__cta {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(var(--black-primary), var(--black-primary))
        padding-box,
      linear-gradient(
          90deg,
          var(--pink-primary),
          var(--purple-primary),
          var(--pink-primary)
        )
        0 0 / var(--bg-size) 100% border-box;
    background-size: 200% 200%;
    animation: gradient-bg 8s linear infinite;
    border-radius: 10px;
    padding: 0.81rem 3rem;
  }
  &__span {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    background: linear-gradient(
        90deg,
        var(--pink-primary),
        var(--purple-primary),
        var(--pink-primary)
      )
      0 0 / var(--bg-size);
    background-size: 200% 200%;
    animation: gradient-bg 8s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    background-clip: text;
    text-fill-color: transparent;
  }
}

@keyframes gradient-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (width < 50em) {
  .blob-container {
    bottom: -10%;
    right: -45%;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    filter: blur(100px);
  }
  .info {
    margin-left: 1.5rem;
    margin-top: 6.5rem;
    h1 {
      font-size: 3.25rem;
    }
    h2 {
      margin-top: 2.12rem;
      font-size: 1.625rem;
    }

    p {
      margin-top: 1.88rem;
      font-size: 0.875rem;
      max-width: 20rem;
    }

    &__strong {
      font-size: 0.875rem;
    }

    &__buttons {
      margin-top: 3rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
