.desktop-nav {
  margin-left: calc(50vw - 10.6562rem);
  width: 21.31rem;
  height: 2.956rem;
  border-radius: 8px;
  border: 1px solid var(--medium-gray, #6a687a);
  z-index: 2;

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: 21.31rem;
    height: 2.956rem;
    border-radius: 8px;
    background: #080530;
    border: 1px solid var(--dark-gray, #080530);
    filter: blur(20px);
    z-index: -1;
  }
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;

  &__li {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    list-style: none;
  }

  &__li:first-child {
    margin-left: 0.78rem;
  }

  &__li:last-child {
    margin-right: 0.78rem;
  }

  &__a {
    padding-left: 0.78rem;
    padding-right: 0.78rem;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200%;
    text-align: center;
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: var(--white-primary);
      transition: all 0.1s;
    }
  }
}
