---
// USE `npx astro-i18next generate` TO GENERATE TRANSLATED PAGES
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Header from "../components/Header.astro";
import "../styles/global.scss";
import "../styles/index.scss";
import { Image } from "astro:assets";
import "@fontsource-variable/inter";
import ellipse from "../images/Ellipse 38.png";
changeLanguage("en");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tomás Goizueta" />
    <HeadHrefLangs />
  </head>
  <body class="body">
    {
      /*
      <h1>{t("home.title")}</h1>
      <p>
        <Trans i18nKey="home.subtitle">
          This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
          </strong> such as <a href="https://example.com/">a cool link</a>!
        </Trans>
      </p>   
    */
    }

    <Header
      pages={[
        t("navbar.hello"),
        t("navbar.about"),
        t("navbar.projects"),
        t("navbar.contact"),
      ]}
    />
    <main class="main">
      <section class="section section--1">
        <div class="info">
          <div class="info__data">
            <h1 class="info__h1">TOMÁS GOIZUETA</h1>
            <h2 class="info__h2">Front-End Developer / UI</h2>
            <p class="info__p">
              Software Engineer who is starting his career as a web developer.
              My lifelong passion for design has been combined with my interest
              in software development to create responsive and attractive
              products.
              <br />
              <br />
              Currently working at
              <strong class="info__strong"
                ><a
                  class="info__a"
                  href="https://www.babelgroup.com/en"
                  target="_blank"
                  rel="noopener noreferrer">Babel</a
                ></strong
              >.
            </p>
            <div class="info__buttons">
              <button class="info__cta">
                <span class="info__span">MY WORKS</span>
              </button>
            </div>
            <!-- <div class="gradient-container">
              <div class="gradient">
              </div>
            </div> -->
          </div>
          <Image class="ellipse" src={ellipse} alt="" />
        </div>
      </section>
    </main>

    <svg class="svg-filter">
      <filter id="noiseFilter">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.5"
          0.30
          stitchTiles="stitch"></feTurbulence>
      </filter>
    </svg>
  </body>
</html>
