---
import { URLS } from "../constants/urls";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav>
  <h3>
    Designed & developed by <a href="https://www.tomyg.com/">Tomy Goizueta</a>
  </h3>
  <span>2024</span>
  <div class="gradient"></div>
</nav>

<style>
  nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.375rem;
    border-top: 4px solid;
    border-image: linear-gradient(
        90deg,
        #1967fe00 11%,
        #1967fe12 17%,
        #1967fe 40%,
        #fe19aa 60%,
        #fe19aa12 81%,
        #fe19aa00 87%
      )
      1 0 0 0;
    background: var(--black-primary, #060329);
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-gray, #a5a3b7);
    margin-top: 0;
  }

  span {
    font-size: 0.875rem;
    color: var(--light-gray, #a5a3b7);
    font-weight: 300;
  }

  a {
    background: linear-gradient(90deg, #0e37f1 -300%, #fe19aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }

  .gradient {
    display: block;
    position: absolute;
    bottom: -33rem;
    overflow: hidden;
    width: 57.5rem;
    /* width: 47.917vw; */
    height: 45.81rem;
    /* height: 38.175vw; */
    z-index: -10;
    border-radius: 100%;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(
      90deg,
      #1967fe 0%,
      #6b2cd6 49%,
      #fe19aa 100%
    );
    filter: blur(80px);
  }

  @media (width < 50em) {
    .gradient{
      width: 100vw;
      height: 42rem;
    }
    nav{
    border-image: linear-gradient(
      90deg,
      #1967fe50 0%,
      #1967fe 25%,
      #fe19aa 75%,
      #fe19aa50 100%
      )
      1 0 0 0;
    }
  }
</style>
