---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="section section--2">
    <div class="info">
        <div class="data">
            <h2>A little about me.</h2>
            <div class="about">
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut facilis
                        dicta quas. Quisquam est error deserunt, pariatur molestias doloremque
                        illum corporis eos ratione iste eaque hic unde voluptas accusamus
                        laudantium?
                    </p>
                    <div class="timeline"></div>
                </div>
                <aside>
                    <!-- <Image/> -->
                </aside>
            </div>
            
        </div>
    </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    color: var(--white-primary);
    font-family: "Inter Variable", sans-serif;
  }

  html {
    overflow-x: hidden;
  }

  .section {
    height: 100vh;
  }

  .section--2 {
    width: calc(50vw + 14rem);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100vh;
    margin-bottom: 20rem;

  }

  .info{
    display: inline-flex;
    position: relative;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
  }

  h2 {
    background: var(--fade-gray);
    background-clip: text;
    -webkit-backgrounfd-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    background-clip: text;
    font-size: 3rem;
  }
  data {
    display: flex;
    flex-direction: column;
  }

  .about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p{
    max-width: 481px;
    margin-top: 3.25rem;

  }
</style>
