---
// USE `npx astro-i18next generate` TO GENERATE TRANSLATED PAGES
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Navbar from "../../components/Navbar.astro";

changeLanguage("es");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tomás Goizueta" />
    <HeadHrefLangs />
  </head>
  <body>
    <!-- <h1>{t("home.title")}</h1>
    <p>
      <Trans i18nKey="home.subtitle">
        This is a <em>more complex</em> string to translate, mixed with <strong
          >html elements
        </strong> such as <a href="https://example.com/">a cool link</a>!
      </Trans>
    </p> -->
    <Navbar
      pages={[
        t("navbar.hello"),
        t("navbar.about"),
        t("navbar.projects"),
        t("navbar.contact"),
      ]}
    />
  </body>
</html>

