---
import Header from "../../components/Header.astro";
import "../../styles/global.css";
import "../../styles/index.scss";
import { Image } from "astro:assets";
import "@fontsource-variable/inter";
import ellipse from "../../images/Ellipse 38.png";
import LanguagePicker from "../../components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("SITE.TITLE")}</title>
    <meta name="description" content={t("SITE.DESCRIPTION")} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tomy Goizueta" />
  </head>
  <body class="body">
    <Header
      pages={[
        t("NAVBAR.ABOUT"),
        t("NAVBAR.EXPERIENCE"),
        t("NAVBAR.PROJECTS"),
        t("NAVBAR.CONTACT"),
      ]}
    />
    <main class="main">
      <section class="section section--1">
        <div class="info">
          <div class="info__data">
            <h1 class="info__h1">{t("HOME.TITLE")}</h1>
            <h2 class="info__h2">Front-End Developer / UI</h2>
            <p class="info__p">
              Software Engineer who is starting his career as a web developer.
              My lifelong passion for design has been combined with my interest
              in software development to create responsive and attractive
              products.
              <br />
              <br />
              Currently working at
              <strong class="info__strong"
                ><a
                  class="info__a"
                  href="https://www.babelgroup.com/en"
                  target="_blank"
                  rel="noopener noreferrer">Babel</a
                ></strong
              >.
            </p>
            <div class="info__buttons">
              <button class="info__cta">
                <span class="info__span">MY WORKS</span>
              </button>
            </div>
            <!-- <div class="gradient-container">
              <div class="gradient">
              </div>
            </div> -->
          </div>
          <Image class="ellipse" src={ellipse} alt="" />
        </div>
      </section>
      <LanguagePicker />
    </main>

    <svg class="svg-filter">
      <filter id="noiseFilter">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.5"
          0.30
          stitchTiles="stitch"></feTurbulence>
      </filter>
    </svg>
  </body>
</html>
